@media screen and (max-width:1080px) {

    header {
     background-color: white;
     width: 100%;
     position: fixed;
     padding: 10px 5px;
     position: fixed !important;
    }
    .header-container  {
     display: flex;
     align-items: center;
     margin: 0 5px;
    }
    .header-left {
     display: inline-block;
     width: 20%;
    }
     .header-right {
         display:none;
     }
     .bi  {
         display: block;
     }
     .about-container {
         display: flex;
         justify-content: center;
         padding-left: 20px;
         padding-right: 20px;
     }
     .about {
         display: flex;
         flex-direction: column;
         width: 75%;
         
     }
     .about h2 {
         font-size: 30px;
         text-align: left;       
     }
     .about p {
         font-weight: normal;
         margin:0 0 20px  0;
     }
     .youtube {
         width: 55%;
         display: flex;
         margin:0 auto;
     }
 }
 
 @media screen and (max-width: 1024px) {
     .about-container {
         flex-direction: column;
     }
     .youtube {
         margin: 0 ;
         width:75%;
     }    
 }    
 @media screen and (max-width:767px) {
     .short-image {
         display: block;
         width: 100%;
     }
    .header-container  {
     display: flex;
     align-items: center;
     margin:0 5px;
    }
    .header-left {
     display: inline-block;
     width: 20%;
    }
     .header-right {
         display: none;
     }
     .bi  {
         display: block;
     }
     .first-view {
         background-image: none;
         margin: 0 auto;
     } 
     .first-view-caption {
         font-size: 80%;
         padding-right: 20px;
         padding-left: 20px;
     }
     .heading {
         display: block;
         margin-top: -270px;
         padding-right: 20px;
         padding-left: 20px;
         width: 100%;
     }
     .heading h1 {
         font-size: 25px;
         font-weight: 600;
         margin-bottom: 20px;
     }
     .heading-button {
         display: flex;
         flex-direction: column; 
     }
     .document {
         display:none !important;
     }
     .about-container {
         display:flex;
         flex-direction: column;
         padding-left: 20px;
         padding-right: 20px;   
     }
     .about {
         display: flex;
         flex-direction: column;
         width: 100%;
     }
     .about h2 {
         font-size: 30px;
         text-align: left;       
     }
     .about p {
         font-weight: normal;
         margin:0 0 20px  0;
     }
     .youtube {
         width:100%;
     }
 }